html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5

  @media only screen and (max-width: $df-small){
    font-size: 56.25%; // 1rem = 9px; 9px/16px = 56.25
  }

}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: $black-2;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  margin-bottom: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a:hover {
  text-decoration: none;
}
