body {
  background-color: $grey-1;
}

.header {
  &__top {
    background-color: $green-1;
    &__pin {
      width: 1.4rem;
      height: 2rem;
      @media only screen and (min-width: $mf-large) {
        width: 1.6rem;
        height: 2.4rem;
      }
    }

    &__clock {
      width: 1.8rem;
      height: 2rem;
      @media only screen and (min-width: $mf-large) {
        width: 2.2rem;
        height: 2.4rem;
      }
    }

    &__phone {
      width: 2rem;
      height: 2rem;
      @media only screen and (min-width: $mf-large) {
        width: 2.4rem;
        height: 2.4rem;
      }
    }

    .col-4  {
      padding: 0; 
      border-left: 2px solid rgba($white,.5);
      &:last-child {
        border-right: 2px solid rgba($white,.5);
      }
    }
  }

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    @media only screen and (min-width: $mf-large) {
      display: flex;
      flex-direction: row;
      margin-left: 3rem;
      padding: 1.2rem 0;
    }

    p {
      text-align: center;
      padding-top: 1rem;
      color: $white;
      font-size: 1.1rem;
      line-height: 1.5;

      @media only screen and (min-width: $mf-large) {
        font-size: 1.2rem;
        text-align: left;
        padding: 0 0 0 2rem;
        display: inline-block;
      }
    }

    &__text-1 {
      @media only screen and (min-width: $mf-large) {
        width: 75%;
      }
      @media only screen and (min-width: $mf-largest) {
        width: 70%;
      }
    }

    &__text-2 {
      @media only screen and (min-width: $mf-large) {
        width: 70%;
      }
    }
  }
}

// Navigation 
.navbar {
  background-color: $white;
  .container {
    padding-right: 0;
  }
  .nav-link {
    color: $blue-1 !important;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
    margin: .3rem 0;
    @media only screen and (min-width: $mf-medium) {
      text-align-last: left;
      margin: 0;
      margin-left: 2.5rem !important;
      font-size: 1.4rem;
      border-bottom: 2px solid transparent;
      transition: all .2s ease;
      padding-left: 0rem !important;
  
      &:hover {
      border-bottom: 2px solid $blue-1;
      }
    }
    @media only screen and (min-width: $mf-large) {
      margin-left: 5.5rem !important;
    }
  }
}

.logo {
  width: 7rem;
  @media only screen and (min-width: $mf-medium) {
    width: 10rem;
  }
}

.navbar-toggler {
  border: none;
  &:focus {
    outline: none;
  }
}

// Hero
.hero {
  height: 30rem;
  margin-top: -5.5rem;
  background-image: url(../images/hero.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
// End Hero

// Content
.content {
  margin-top: 4rem;
  &__1 {
    background-color: $white;
  }
  &__header {
    padding: 3rem 2.5rem 2rem 2.5rem;
    font-size: 2.2rem;
    font-weight: 100;
    line-height: 1.5;
    text-transform: uppercase;
  }
  &__social {
    padding: 1.5rem 0 2rem 0;
    display: flex;
    .fa-edit,
    .fa-comments,
    .fa-tag{
      color: $green-2;
    }
    &-1,
    &-2,
    &-3 {
      display: flex;
      align-items: center;
      margin-left: 3rem;
    }
    &-1,
    &-2 {
      a {
      color: $grey-10;
      }
    }
    &-3 {
      p {
        color: $grey-11;
      }
    }
  }
  &__paragraph {
    padding-left: 1rem;
  }
  &__description {
    &__text {
      @include raleway;
      font-size: 1.2rem;
      font-weight: 500;
      letter-spacing: .15rem;
      line-height: 1.5;
      padding: 0 2rem 4rem 2rem;
    }
  }

  // Comment
  &__comment {
    background-color: $white;
    margin-top: 2.5rem;
    padding-bottom: 3rem;
    h3 {
      color: $green-1;
      padding: 1rem 0 1rem 2rem;
      border-bottom: 1px solid $grey-2;
    }
    // Comment__box
    &__box {
      display: flex;
      padding-top: 2rem;   
      &__img {
        margin-left: 2rem;
        display: none;
        border-radius: 3px;
        @media only screen and (min-width: $mf-smaller) {
          display: block;
          height: 2rem;
        }
        @media only screen and (min-width: $mf-small) {
          height: 3rem;
        }
        @media only screen and (min-width: $mf-medium) {
          height: 4rem;
        }      
        @media only screen and (min-width: $mf-large) {
          height: 7rem;
        }
      }
      &__name {
        margin-left: 2rem;
        padding: 0 2rem 0 0;
        h6 {
          font-size: 1.2rem;
          font-weight: bold;
          display: inline-block;
          margin: 0;
          padding-right: 2rem;
          border-right: 1.5px solid $grey-2;
        }  
        &-date {
          font-size: 1rem;
          font-weight: 600;
          display: inline-block;
          padding-left: 1.8rem;
        } 
        &-reply {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2rem;
          color: $green-1;
          display: block;
          float: right;
          &:hover {
            color: $green-1;
          }
        }
      } 
      &__text {
        margin-left: 2rem;
        color: $grey-7;
        font-size: 1.15rem;
        margin-right: 2.85rem;
        margin-top: 1.5rem;
        line-height: 1.7;
        margin-bottom: .5rem;
        padding-bottom: 1.5rem;
      }
      .border_bottom {
        margin-left: 2rem;
        margin-right: 2.85rem;
        border-bottom: 1px solid $grey-2;
      }
      &-2 {
        @media only screen and (max-width: $df-smaller) {
          margin-left: 2rem;
        }
      }
    }
  
    // Comment__box__reply
    &__box__reply {
      display: flex;
      padding-top: 2rem;     
      &__img {
        display: none;
        border-radius: 3px;
        @media only screen and (min-width: $mf-smaller) {
          margin-left: 6rem;
          display: block;
          height: 2rem;
        }
        @media only screen and (min-width: $mf-small) {
          margin-left: 7rem;
          height: 3rem;
        }
        @media only screen and (min-width: $mf-medium) {
          margin-left:7.6rem;
          height: 4rem;
        }      
        @media only screen and (min-width: $mf-large) {
          margin-left: 10.5rem;
          height: 7rem;
        }
      }

      &__name {
        padding: 0 2rem 0 0;
        margin-left: 2rem;
        h6 {
          font-size: 1.2rem;
          font-weight: bold;
          display: inline-block;
          margin: 0;
          padding-right: 2rem;
          border-right: 1.5px solid $grey-2;
        }
        &-date {
          font-size: 1rem;
          font-weight: 600;
          display: inline-block;
          padding-left: 1.8rem;
        } 
        &-reply {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2rem;
          color: $green-1;
          display: block;
          float: right;
          &:hover {
            color: $green-1;
          }
        }
      }
      &__text {
        margin-left: 2rem;
        color: $grey-10;
        font-size: 1.15rem;
        margin-right: 2.85rem;
        margin-top: 1.5rem;
        line-height: 1.7;
        margin-bottom: .5rem;
        padding-bottom: 3rem;
        border-bottom: 1px solid $grey-2;
      }
    }
  }
}
// End Content


// Contact Form
.contact {
  background-color: $white;
  margin-top: 2.5rem;
  padding: 2.5rem;
  &__form {
    input[type="text"],
    input[type="email"],
    textarea {
      padding: 1rem;
      border-radius: 0;
      border: 1px solid $grey-9;
    }
    textarea {
      height: 19rem;
      margin-bottom: 2rem;
    }
    ::-webkit-input-placeholder {
      color: $grey-12;
    }
  }
  .form-group {
    margin-bottom: 2rem;
  }
  .btn-primary {
    color: $grey-13;
    background-color: $green-1;
    border: none;
    width: 100%;
    padding-top: .7rem;
    padding-bottom: .7rem;
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: .1rem;
    transition: .3s ease;
    &:hover {
      background-color: $green-3;
    }
  }
}
// End Contact Form

// Categories
.categories {
  background-color: $white;
  padding-bottom: 2rem;
  @media only screen and (max-width: $df-medium) {
    margin-top: 2rem;
  }
  h3 {
    @include h3_categories;
    padding-left: 2rem;
    @media only screen and (min-width: $mf-large) {
      padding-left: 3rem;
    }
  }
  &__list {
    padding-left: 2rem;
    @media only screen and (min-width: $mf-large) {
      padding-left: 3rem;
    }
  }
  &__item {
    margin-bottom: 1.5rem;
    &:first-child {
      margin-top: 1.5rem;
    }
  }
  .fa-angle-right {
    color: $green-1;
    font-size: 1.4rem;
  }
  &__link {
    margin-left: 2rem;
    color: $grey-5;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-bottom: 1.5px solid $grey-3;
    &:hover {
      text-decoration: none;
      color: $grey-5;
    }
  }
}
// End Categories

// Popular Post
.popularPost {
  background-color: $white;
  margin-top: 2rem;
  padding-bottom: 2rem;
  h3 {
    @include h3_categories;
    padding-left: 2rem;
    @media only screen and (min-width: $mf-large) {
      padding-left: 3rem;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-bottom: 5rem;
    height: 7.2rem;
    img {
      margin-left: 2rem;
      @media only screen and (min-width: $mf-large) {
        margin-left: 3rem;
      }
      @media only screen and (min-width: $mf-medium) {
        height: 5rem;
      }
      @media only screen and (min-width: $mf-large) {
        height: 7.2rem;
      }
    }
  }

  &__text {
    margin-left: 2.5rem;
    padding-right: 2rem;
    @media only screen and (min-width: $mf-medium) {
      margin-left: 1rem;
      padding-right: 1.4rem;
    }
    @media only screen and (min-width: $mf-large) {
      margin-left: 1.5rem;
      padding-right: 2rem;
    }
  }

  &__date {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    color: $grey-7;
    margin-bottom: 1rem;
    @media only screen and (min-width: $mf-medium) {
      font-size: 1rem;
    }
    @media only screen and (min-width: $mf-large) {
      font-size: 1.2rem;
    }
  }

  &__place {
    a {
    @include raleway;
    color: $grey-7;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase; 
    &:hover {
      color: $grey-7;
    }
    @media only screen and (min-width: $mf-medium) {
      font-size: 1.1rem;
    }
    @media only screen and (min-width: $mf-large) {
      font-size: 1.3rem;
    }
    @media only screen and (min-width: $mf-largest) {
      letter-spacing: .09rem;
    }
  }
  }
}
// End Popular Post

// Archives
.archives {
  background-color: $white;
  margin-top: 2rem;
  padding-bottom: 2rem;
  h3 {
    @include h3_categories;
    padding-left: 2rem;
    @media only screen and (min-width: $mf-large) {
      padding-left: 3rem;
    }
  }
  &__list {
    padding-left: 3rem;
  }
  &__item {
    margin-bottom: 1.5rem;
    &:first-child {
      margin-top: 1.5rem;
    }
  }
  .fa-angle-right {
    color: $green-1;
    font-size: 1.4rem;
  }
  &__link {
    margin-left: 2rem;
    color: $grey-5;
    @include raleway;
    font-size: 1.2rem;
    text-transform: uppercase;
    border-bottom: 1.5px solid $grey-3;
    &:hover {
      text-decoration: none;
      color: $grey-5;
    }
  }
}
// End Archives

// Tags
.tags {
  background-color: $white;
  margin-top: 2rem;
  padding-bottom: 2rem;
  h3 {
    @include h3_categories;
    padding-left: 2rem;

    @media only screen and (min-width: $mf-large) {
      padding-left: 3rem;
    }
  }
  &__box {
    padding-right: 8rem;
    padding-left: 2rem;

    @media only screen and (min-width: $mf-large) {
      padding-left: 3rem;
    }
  }
  .btn-primary {
    @include raleway;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 1rem 2rem;
    border: none;
    border-radius: 0;
    background-color: $green-1;
    color: $grey-5 !important;
    margin-top: 1.5rem;
    margin-right: 1rem;
    transition: all .2s ease-in;
    &:hover {
      background-color: $green-3;
    }
  }
}
// End Tags

// Footer
.footer {
  margin-top: 6rem;
  background-color: #2d3e50;
  &__1 {
    padding: 2rem 0;
    border-bottom: 1px solid rgba($white,.5);
    @media only screen and (min-width: $mf-medium) {
      padding: 0;
    }
    &__img {
      margin-bottom: 2rem;
      @media only screen and (max-width: $df-large) {
        height: 15rem;
      }
      @media only screen and (min-width: $mf-medium) {
        margin-bottom: 0;
      }
    }
    &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
      @media only screen and (min-width: $mf-medium) {
        flex-direction: row;
      }
    }
    &__text {
      font-size: 2rem;
      margin-left: 3rem;
      color: $white;
      letter-spacing: .1rem;
      text-align: center;
      margin-bottom: 2rem;
      @media only screen and (min-width: $mf-medium) {
        text-align: left;
        margin-bottom: 0;
      }
      @media only screen and (min-width: $mf-large) {
        font-size: 2.4rem;
      }
      p {
        font-weight: 300;
      }
    }
    .lowercase {
      font-weight: 700;
    }
    .uppercase {
      font-weight: 700;
      text-transform: uppercase;
    }
    .btn-success {
      font-size: 1.4rem;
      font-weight: 500;
      border: none;
      background-color: $green-1;
      text-transform: uppercase;
      padding: 1rem 3rem;
      margin-left: 0;
      transition: all .2s ease-in;
      &:hover {
        background-color: $green-3;
      }
      @media only screen and (min-width: $mf-medium) {
        margin-left: 3rem;
      }
      @media only screen and (min-width: $mf-large) {
        margin-left: 5rem;
      }
    }
  }
  // End footer__1

  // footer__2
  &__2 {
    color: $white;
    padding: 4rem 0;
    @media only screen and (min-width: $mf-medium) {
      padding: 6rem 0;
    }
    h5 {
      font-size: 1.6rem;
      color: $green-1;
      margin-bottom: 2rem;
      text-transform: uppercase;
      font-weight: 700;
      @media only screen and (min-width: $mf-medium) {
        font-size: 1.2rem;
      }
      @media only screen and (min-width: $mf-large) {
        font-size: 1.6rem;
      }
    }
    &__about {
      p {
        font-size: 1.1rem;
        line-height: 1.75;
        @media only screen and (min-width: $mf-medium) {
          font-size: 1rem;
          line-height: 1.5;
        }
        @media only screen and (min-width: $mf-large) {
          font-size: 1.1rem;
          line-height: 1.75;
        }
      }
      img {
        margin-bottom: 2rem;
      }
    }
    &__item {
      margin-bottom: 1.2rem;
      @media only screen and (min-width: $mf-medium) {
        margin-bottom: 1rem;
      }
      @media only screen and (min-width: $mf-large) {
        margin-bottom: 1.2rem;
      }
    }
    &__link {
      text-transform: uppercase;
      font-size: 1.2rem;
      color: $white;
      border-bottom: 1.5px solid $grey-3;
      &:hover {
        color: $white;
      }
      @media only screen and (min-width: $mf-medium) {
        font-size: 1rem;
      }
      @media only screen and (min-width: $mf-large) {
        font-size: 1.2rem;
      }
    }
    &__usefull {
      margin-top: 4rem;
      text-align: center;
      @media only screen and (min-width: $mf-medium) {
        margin-top: 0;
        text-align: left;
      }
    }
    &__information {
      margin-top: 4rem;
      text-align: center;
      @media only screen and (min-width: $mf-medium) {
        margin-top: 0;
        text-align: left;
      }
    }
    &__photo {
      margin-top: 4rem;
      margin-bottom: 4rem;
      h5 {
        text-align: center;

        @media only screen and (min-width: $mf-medium) {
          text-align: left;
        }
      }
      @media only screen and (min-width: $mf-medium) {
        margin-top: 0;
      }
    }
    &__instagram {
      float: left;
      width: 33.33%;
      text-align: center;
      border: 1px solid $blue-2;
      img {
        width: 100%;
      }
      @media only screen and (min-width: $mf-medium) {
        border: 1px solid $blue-2;
      }
    }
  }
}
// End footer__2
// End Footer