// Colors
$black-1: #000;
$black-2: #222;
$black-3: #333;
$black-4: #444;
$black-5: #555;
$black-6: #666;
$black-7: #777;
$black-8: #888;
$black-9: #999;
 
$grey-1: #f6f6f6; // Body Background color
$grey-2: #e1e1e1; // Comment & Sidebar header border bottom
$grey-3: #b9b9b9; // Sidebar sub header border top
$grey-4: #d9d9d9; // Sidebar sub header border bottom
$grey-5: #363636; // Sidebar text color
$grey-6: #212121; // Header Content color
$grey-7: #464646; // Content Text color
$grey-8: #7d7d7d; // Text Comment Color
$grey-9: #bec3c7; // Border form color
$grey-10: #7c7c7c; // Comment text
$grey-11: #373737; // Apartment text
$grey-12: #bebebe; // Text placeholder color
$grey-13: #fefefe; //  Submit form text


$white: #fff;

$green-1: #36d7b6;
$green-2: #34d8b6; // Content social icon
$green-3: #2db79b; // Submit form hover

$blue-1: #022044;
$blue-2: #2d3e50; // Background Footer
$blue-2: #47515b; // Border logo footer 1

// Media Query mobile first
$mf-largest: 75em; // 1200px/16px
$mf-large: 62em; // 992px/16px
$mf-medium: 48em; // 768px/16px
$mf-small: 37.5em; // 600px/16px
$mf-smaller: 28.125em; // 450px/16px
$mf-smallest: 22.5em; // 360px/16px

// Media Query Desktop first
$df-largest: 75em; // 1200px/16px
$df-large: 61.9375em; // 991px/16px
$df-medium: 47.9375em; // 767px/16px
$df-small: 37.5em; // 600px/16px
$df-smaller: 28.125em; // 450px/16px
$df-smallest: 22.5em; // 360px/16px





